In [86]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [87]:
path = '/Users/liamanderson/Desktop/Instacart Basket Analysis/02 Data'

In [88]:
# Importing Data Set
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [89]:
# Importing Data Set
df_prods = pd.read_csv(os.path.join(path, 'Original Data', '4.3_orders_products', 'products.csv'), index_col = False)

In [90]:
# Create a dataframe

df_test = pd.DataFrame()

In [91]:
# Create a mixed type column

df_test['mix'] = ['a','b', 1, True]

In [92]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [93]:
# Check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/f5/4n0d4d_s69sg2_b5f8nxqp200000gn/T/ipykernel_77891/1522843687.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [94]:
# Change data type to string

df_test['mix'] = df_test['mix'].astype('str')

In [95]:
# Check for missing values

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [96]:
# View the rows of missing values

df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [97]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [98]:
# Check how many rows there are before getting rid of missing values

df_prods.shape

(49693, 5)

In [99]:
# Get rid of missing values

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [100]:
# Make sure that all 16 rows are gone

df_prods_clean.shape

(49677, 5)

In [101]:
# Check for duplicates

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [102]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [103]:
# Deleting duplicates
# Check the amount of rows first

df_prods_clean.shape

(49677, 5)

In [104]:
# Create a new dataframe that has no duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [105]:
# Check to make sure that the right amount of rows was dropped

df_prods_clean_no_dups.shape

(49672, 5)

In [159]:
# Export

df_prods_clean_no_dups.to_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'))

In [107]:
# Task 4.5
# 2. 
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [108]:
# From the describe function the count of days_since_prior_order are not the same as the others which probably means that there are missing values

In [109]:
# 3. 
# Check for mixed-type data in the data frame
for col in df_ords.columns.tolist():
    weird = (df_ords[col].map(type) != df_ords[col].iloc[0].__class__).any()
    if weird:
        print(col)

Unnamed: 0
order_id
user_id
order_number
orders_day_of_week
order_hour_of_day
days_since_prior_order

In [110]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [111]:
# There is no mixed data
# 5.
# Check for missing data

df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [112]:
# The reason that there could be so many missing values is because it could be that it is a customers first time ordering and therefore dont have any prior orders.

In [113]:
# 6.
# Create a subset for the missing values 

df_nan_ords = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [114]:
df_nan_ords

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

In [ ]:
# We will keep these as missing values as it being missing has meaning.

In [155]:
# 7. 
# Check for duplicates

df_dups_ords = df_ords[df_ords.duplicated()]

In [157]:
df_dups_ords

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [ ]:
# There are no duplicates

In [161]:
df_ords.to_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'))