In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = '/Users/liamanderson/Desktop/Instacart Basket Analysis/02 Data'

In [8]:
# 3.
# Importing Data Set

df_merged_large = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [10]:
# 4.
# Check shape of dataframe

df_merged_large.shape

(32434489, 10)

In [12]:
# 5. Merge orders_products_combined with products data set
# Import products data set

df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)

In [14]:
# Check shape of data set

df_prods.shape

(49672, 6)

In [38]:
# Check output

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [18]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
# Drop unnecessary columns

df_prods = df_prods.drop(columns = ['Unnamed: 0',])

In [40]:
# Merge data sets

df_merged_all = df_prods.merge(df_merged_large, on = 'product_id', indicator = True)

In [42]:
df_merged_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [44]:
df_merged_all['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [46]:
# 7. Export the merged file into pickle format

df_merged_all.to_pickle(os.path.join(path,'Prepared Data', 'merged_all.pkl'))