In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = '/Users/liamanderson/Desktop/Instacart Basket Analysis/02 Data'

In [3]:
# Importing Data Set
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# Importing Data Set
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [12]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [32]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [34]:
# Check the shape of each data set

df_ords_prior.shape

(32434489, 4)

In [36]:
df_ords.shape

(3421083, 6)

In [46]:
# Merge data sets

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [42]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [44]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [54]:
df_merged_large.shape

(32434489, 10)

In [52]:
# Task 4.6
# 2. Export the merged file into pickle format

df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))